<template>
    <div>
        <button
            v-if="editState"
            @click="cancelEditing"
            class="button button_default back"
            >
            Отменить
        </button>
        <router-link
            v-else
            to="/notes"
            tag="button"
            class="button button_default back"
            >
            « Все заметки
        </router-link>

        <div class="controls">
            <button
                class="button button_primary button_small"
                v-if="editState"
                @click="saveChanges"
                >
                Сохранить
            </button>
            <button
                class="button button_secondary button_small"
                v-if="!editState"
                @click="editNote"
                >
                Редактировать
            </button>
            <button
                class="button button_danger button_small"
                >
                Удалить
            </button>
        </div>

        <div class="panel">
            <input
                v-if="editState"
                v-model="editableNote.title"
                class="input"
                type="text"
                placeholder="Название"
            >
            <div v-else>{{ note.title }}</div>
            <div class="tasks">
                <app-tasks
                    :noteID="note.id"
                    :editState="editState"
                ></app-tasks>
            </div>
        </div>
    </div>
</template>

<script>
    import Tasks from "../components/Tasks";

    export default {
        components: {
            appTasks: Tasks
        },
        data () {
            return {
                noteID: Number(this.$route.params['id']),
                editState: false,
                note: {},
                editableNote: {}
            }
        },
        computed: {
            getNote () {
                return this.$store.getters.getNoteById(this.noteID)
            },
            isObjectsEqual () {
                return JSON.stringify(this.note) === JSON.stringify(this.editableNote)
            }
        },
        methods: {
            editNote () {
                this.editState = true
                for (let prop in this.note) {
                    this.editableNote[prop] = this.note[prop]
                }
            },
            cancelEditing () {
                if (this.isObjectsEqual) {
                    this.editState = false
                    this.editableNote = {}
                } else {
                    // dialog
                }
            },
            saveChanges () {
                this.editState = false
                if (!this.isObjectsEqual) {
                    this.$store.commit('pushToPreparedNotes', this.editableNote)
                }
                this.editableNote = {}
            }
        },
        created () {
            this.note = this.getNote
        }
    }
</script>

<style scoped>
    .back {
        margin-bottom: 20px;
    }
    .tasks {
        margin-top: 20px;
    }
    .controls {
        margin-bottom: 10px;
    }
    .controls .button {
        display: inline-block;
    }
    .controls .button + .button {
        margin-left: 5px;
    }
</style>
