<template>
    <div>
        <router-link
            tag="button"
            class="button button_primary create"
            to="/new"
            >
            Создать заметку
        </router-link>

        <app-note
            v-for="note in notes"
            :key="note.id"
            :noteID="note.id"
            :title="note.title"
        ></app-note>

    </div>
</template>

<script>
    import Note from "../components/Note";

    export default {
        components: {
            appNote: Note
        },
        computed: {
            notes () {
                return this.$store.getters.getNotes
            }
        },
        created () {
            this.$store.commit('clearActiveNote')
        }
    }
</script>

<style scoped>
    .create {
        margin-bottom: 20px;
    }
</style>
