<template>
    <div
        v-show="show"
        class="modal"
        >
        <div class="modal__window">
            <div class="modal__content">{{ title }}</div>
            <div class="modal__controls">
                <button
                    @click="action(type)"
                    class="button button_primary"
                    >
                    Подтвердить
                </button>
                <button
                    @click="closeDialog"
                    class="button button_default"
                    >
                    Отменить
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                commitName: ''
            }
        },
        methods: {
            action (type) {
                switch (type) {
                    case 'delete':
                        this.commitName = 'deleteNoteFromDB';
                        break;
                    case 'cancel':
                        this.commitName = 'deleteNoteFromDB';
                        break;
                }
                this.$store.state.commit(this.commitName)
            },
            closeDialog () {

            }
        },
        computed: {
            show () {
                return this.$store.state.dialog.show
            },
            title () {
                return this.$store.state.dialog.title
            },
            type () {
                return this.$store.state.dialog.type
            }
        }
    }
</script>

<style scoped>
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
        padding: 10px;
    }
    .modal__window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #333;
        border-radius: 15px;
        padding: 30px;
        min-width: 300px;
    }
    .modal__content {
        text-align: center;
        color: #fff;
    }
    .modal__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
</style>
