<template>
    <div>
        <router-link to="/notes">
            <button v-if="isNoteEmpty" class="button button_danger create">Отменить</button>
            <button v-else @click="createNote" class="button button_primary create">Сохранить</button>
        </router-link>

        <div class="panel">
            <input
                v-model="title"
                class="input"
                type="text"
                placeholder="Название">
            <div class="items">
                <div
                    class="item"
                    v-for="(task, index) in tasks"
                    :key="index"
                    >
                    <div>
                        <input
                            v-model="task.isDone"
                            type="checkbox">
                    </div>
                    <div class="item-input">
                        <input
                            v-model.trim="task.name"
                            placeholder="Задача"
                            class="input input_small item-input"
                            type="text">
                    </div>
                    <div>
                        <button
                            @click="removeTask(index)"
                            class="button button_danger button_small"
                            >
                            Удалить
                        </button>
                    </div>
                </div>
                <div class="item item_new">
                    <div>+</div>
                    <div class="item-input">
                        <input
                            v-model.trim="newTaskName"
                            @keypress.enter="addTask"
                            placeholder="Текст задачи..."
                            class="input input_small item-input"
                            type="text">
                    </div>
                    <div>
                        <button
                            @click="addTask"
                            :disabled="isTaskNameEmpty"
                            class="button button_primary button_small"
                            >
                            Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                title: '',
                newTaskName: '',
                tasks: []
            }
        },
        computed: {
            isTaskNameEmpty () {
                return this.newTaskName === ''
            },
            isNoteEmpty () {
                return this.tasks.length === 0
            }
        },
        methods: {
            addTask () {
                this.tasks.push({
                    name: this.newTaskName,
                    isDone: false
                });
                this.newTaskName = ''
            },
            removeTask (index) {
                this.tasks.splice(index, 1)
            },
            createNote () {
                if (this.title === '') this.title = 'Без названия';
                const note = {
                    title: this.title,
                    tasks: this.tasks
                };
                this.$store.commit('createNote', note);
                this.$store.commit('getNotesFromDB')
            }
        }
    }
</script>

<style scoped>
    .create {
        margin-bottom: 20px;
    }
    .controls {
        margin-bottom: 10px;
    }
    .controls .button {
        display: inline-block;
    }
    .controls .button + .button {
        margin-left: 5px;
    }
    .items {
        margin-top: 20px;
    }
    .item {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .item-input {
        width: 100%;
        padding: 0 5px;
    }
    .item + .item {
        margin-top: 10px;
    }
    .item_new {
        padding-left: 3px;
    }
</style>
