<template>
    <router-link
        tag="div"
        class="panel item"
        :to="{name: 'noteLink', params: {id: noteID}}"
        @click="setActiveNote"
        >
        <div class="controls">
            <button class="button button_danger button_small delete">Удалить</button>
        </div>
        {{ title }}
        <app-tasks :noteID="noteID"></app-tasks>
    </router-link>
</template>

<script>
    import Tasks from "../components/Tasks";

    export default {
        components: {
            appTasks: Tasks
        },
        props: {
            noteID: Number,
            title: String
        },
        methods: {
            setActiveNote () {
                this.$store.commit('setActiveNote', this.noteID);
            }
        }
    }
</script>

<style scoped>
    .item {
        cursor: pointer;
    }
    .item + .item {
        margin-top: 10px;
    }
    .item:hover {
        background-color: #666;
    }
    .item:hover .controls {
        display: block;
    }
    .controls {
        display: none;
        float: right;
    }
</style>
