<template>
    <ul>
        <li
            v-for="(task, index) in tasks"
            :key="index"
            >
            <div v-if="editState">
                <input
                    type="checkbox"
                    v-model="task.isDone"
                >
                <input
                    type="text"
                    class="input input_small"
                    v-model.trim="task.name"
                >
            </div>
            <span
                v-else
                :class="{'stroke': task.isDone}"
                >
                {{ task.name }}
            </span>
        </li>
        <li v-if="editState">
            <input
                type="checkbox"
                v-model="newTask.isDone"
            >
            <input
                type="text"
                class="input input_small"
                v-model.trim="newTask.name"
                @keypress.enter="createTask"
            >
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            noteID: Number,
            editState: Boolean
        },
        data () {
            return {
                newTask: {
                    name: '',
                    isDone: false
                }
            }
        },
        computed: {
            tasks () {
                return this.$store.getters.getNoteById(this.noteID).tasks
            }
        },
        methods: {
            createTask () {
                this.$store.commit('createTask', this.newTask)
            }
        }
    }
</script>

<style scoped>
    .item {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .item__input {
        width: 100%;
        padding: 0 5px;
    }
    .item__input .input {
        width: 100%;
    }
    .item + .item {
        margin-top: 10px;
    }
</style>
