<template>
    <div class="container">
        <router-view></router-view>
        <app-dialog></app-dialog>
    </div>
</template>

<script>
    import Dialog from "./components/Dialog";

    export default {
        components: {
            appDialog: Dialog
        },
        created () {
            this.$store.commit('getNotesFromDB')
        }
    }
</script>

<style>
    * {
        box-sizing: border-box;
    }
    html {
        font-family: Arial, sans-serif;
    }
    html, body {
        color: #eee;
        background-color: #333;
    }
    .container {
        width: 100%;
        max-width: 400px;
        margin: 50px auto;
        padding: 0 15px;
    }
    .panel {
        padding: 15px;
        background-color: #555;
        border-radius: 5px;
    }
    .button {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 15px;
        color: #fff;
    }
    .button:hover {
        opacity: .9;
    }
    .button_small {
        padding: 5px 10px;
        font-size: 12px;
    }
    .button_default {
        color: #bbb;
        background-color: #555;
    }
    .button_primary {
        background-color: mediumseagreen;
    }
    .button_secondary {
        background-color: cornflowerblue;
    }
    .button_danger {
        background-color: indianred;
    }
    .button[disabled] {
        background-color: #555;
        cursor: not-allowed;
        opacity: .2;
    }
    .input {
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: #777;
        color: #fff;
    }
    .input_small {
        height: 23px;
        padding: 5px 10px;
        font-size: 12px;
    }
    .stroke {
        opacity: .5;
        text-decoration: line-through;
    }
    ::placeholder {
        color: #aaa;
    }
</style>
